{% extends 'base.html.twig' %}
{% block title %}Starshop: Beam up some parts!{% endblock %}

{% block body %}
<h1>Starshop: your monopoly-busting option for Starship parts!</h1>

<div>
    Browse through {{  ships|length }} starships!

    {% if ships|length>2 %}
        {# Do you think "shiploads" will pass the legal team? #}
        <p>That's a shipload of ships!</p>
    {% else %}
        <p>That's not too many starships!</p>
    {% endif %}
</div>

<div>
    <h2>My Ship</h2>
    <table>
        <tr>
            <th>Name</th>
            <td>
                <a href="{{ path('app_starship_show', {id: myShip.id}) }}">
                    {{ myShip.name | upper }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain | title }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>
{% endblock %}
